@page "/Quests/edit"
@inject ZeldaQuestTracker.Data.ZeldaQuestTrackerContext DB
@using ZeldaQuestTracker.Components.Model
@inject NavigationManager NavigationManager
@using Microsoft.EntityFrameworkCore

<PageTitle>Edit</PageTitle>

<h1>Edit</h1>

<h4>Quests</h4>
<hr />
@if (Quests is null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="row">
        <div class="col-md-4">
            <EditForm method="post" Model="Quests" OnValidSubmit="UpdateQuests" FormName="edit" Enhance>
                <DataAnnotationsValidator />
                <ValidationSummary />
                <input type="hidden" name="Quests.Id" value="@Quests.Id" />
                <div class="mb-3">
                    <label for="name" class="form-label">Name:</label>
                    <InputText id="name" @bind-Value="Quests.Name" class="form-control" />
                    <ValidationMessage For="() => Quests.Name" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="walkthrough" class="form-label">Walkthrough:</label>
                    <InputText id="walkthrough" @bind-Value="Quests.Walkthrough" class="form-control" />
                    <ValidationMessage For="() => Quests.Walkthrough" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="video" class="form-label">Video:</label>
                    <InputText id="video" @bind-Value="Quests.Video" class="form-control" />
                    <ValidationMessage For="() => Quests.Video" class="text-danger" />
                </div>
                <button type="submit" class="btn btn-primary">Save</button>
            </EditForm>
        </div>
    </div>
}

<div>
    <a href="/quests">Back to List</a>
</div>

@code {
    [SupplyParameterFromQuery]
    public int Id { get; set; }

    [SupplyParameterFromForm]
    public Quests? Quests { get; set; }

    protected override async Task OnInitializedAsync()
    {
        Quests ??= await DB.Quests.FirstOrDefaultAsync(m => m.Id == Id);

        if (Quests is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }

    // To protect from overposting attacks, enable the specific properties you want to bind to.
    // For more details, see https://aka.ms/RazorPagesCRUD.
    public async Task UpdateQuests()
    {
        DB.Attach(Quests!).State = EntityState.Modified;

        try
        {
            await DB.SaveChangesAsync();
        }
        catch (DbUpdateConcurrencyException)
        {
            if (!QuestsExists(Quests!.Id))
            {
                NavigationManager.NavigateTo("notfound");
            }
            else
            {
                throw;
            }
        }

        NavigationManager.NavigateTo("/quests");
    }

    bool QuestsExists(int id)
    {
        return DB.Quests.Any(e => e.Id == id);
    }
}
